### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### BỔ SUNG CHO INTELLIJ IDEA ###
# Chặn thư mục cấu hình cá nhân của IntelliJ
.idea/

# Chặn các file module của IntelliJ
*.iml
*.iws

# Chặn file log (nếu có)
*.log